
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: #55E6C1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}
#item{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 0;
    outline: 0;
    box-shadow: 0px 0px 2px grey;
    display: block;
    
}
#to-do-box{
    margin-top: 10px;
    list-style: none;

}
.done{
    text-decoration: line-through;
    background-color: black !important;
    color: #dfe4ea !important ;
    
    
}

.to-do-box li{
    position: relative;
    background-color: #182C61;
     
    color: #25CCF7;
    padding: 10px;
    border-radius: 5px;
    
    text-align: justify;
    padding-right: 30px;
    margin-top: 10px;
    user-select: none;
   
}
#to-do-box li i {
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}
.first-head{
    margin-bottom: 10px;
    text-align: center;
}